<template>
<div class="col-xl-6 chart">
  <chart-axis-unit axis-name="x"
                   :units="xUnits"
                   :selected-unit.sync="xUnit"></chart-axis-unit>
  <chart-axis-unit axis-name="y"
                   :units="yUnits"
                   :selected-unit.sync="yUnit"></chart-axis-unit>
  <div :id="id"></div>
</div>
</template>

<script>
import Plotly from 'plotly.js/dist/plotly.min'
import units from '../assets/units'
import ChartAxisUnit from './ChartAxisUnit'
import {label, latex} from '../utils/unit_conversion'

export default {
  name: 'chart',

  components: { ChartAxisUnit },

  props: {
    num: String,
    traces: Array,
    xLabel: String,
    yLabel: String,
    xUnitInit: String,
    yUnitInit: String,
    xAlternativeUnits: [Array, String],
    yAlternativeUnits: [Array, String]
  },

  data () {
    return {
      id: 'chart-container' + this.num,
      layout: {
        autosize: true,
        margin: {t: 30, l: 60, r: 0, b: 60},
        showlegend: true,
        xaxis: {},
        yaxis: {}
      },
      xUnit: '',
      yUnit: '',
      xUnits: [],
      yUnits: []
    }
  },

  computed: {
    dataset () {
      return this.$store.state.fields.datasets[0]
    },

    xField () {
      return this.getField(this.traces[0].x)
    }
  },

  methods: {
    getField (fieldName) {
      if (typeof fieldName === 'string') {
        return this.$store.state.fields.fields[fieldName]
      }
      return { selected_unit: 'ND' }
    },

    labelUnitConcat (label, unit) {
      if (label.startsWith('$')) {
        label = label.slice(1, label.length - 1)
      } else {
        label = `\\text{${label}}`
      }
      return `$${label} \\: (${unit})$`
    },

    plot () {
      let x
      let xTrace = this.traces[0].x

      if (typeof xTrace === 'string') {
        x = this.xField.convert(this.dataset[xTrace], this.xField.unit, this.xUnit)
      } else {
        x = xTrace
      }

      let traces = []
      this.traces.forEach(trace => {
        let yField = this.getField(trace.y)
        let value = yField.convert(this.dataset[trace.y], yField.unit, this.yUnit)
        traces.push({
          x: x,
          y: value,
          name: yField.help_text,
          type: trace.type,
          mode: trace.mode || null
        })
      })
      Plotly.react(this.id, traces, this.layout)
    },

    getUnits (unit, alternatives) {
      if (alternatives === 'all') {
        // Find all the alternative units
        return Object.values(units).find(alternatives => (
          alternatives.map(a => a.id).includes(unit)
        ))
      } else {
        return [...alternatives, ...[unit]].map(u => (
          { id: u, label: label(u), latex: latex(u) }
        ))
      }
    },

    setYAxisTitle () {
      if (this.yLabel) {
        this.layout.yaxis['title'] = this.labelUnitConcat(
          this.yLabel,
          this.unitLatex('y', this.yUnit)
        )
      } else {
        this.layout.yaxis['title'] = `$${this.unitLatex('y', this.yUnit)}$`
      }
    },

    unitLatex (axis, unitId) {
      return this[axis + 'Units'].find(u => u.id === unitId).latex
    }
  },

  watch: {
    xUnit () {
      this.layout.xaxis['title'] = this.labelUnitConcat(
        this.xLabel,
        this.unitLatex('x', this.xUnit)
      )
      this.plot()
    },

    yUnit () {
      this.setYAxisTitle()
      this.plot()
    }
  },

  mounted () {
    // Set units
    if (this.xUnitInit) {
      this.xUnit = this.xUnitInit
      this.xUnits = this.getUnits(this.xUnit, this.xAlternativeUnits)
    }
    if (this.yUnitInit) {
      this.yUnit = this.yUnitInit
      this.yUnits = this.getUnits(this.yUnit, this.yAlternativeUnits)
    }

    // Set axis titles
    if (this.xUnit) {
      this.layout.xaxis['title'] = this.labelUnitConcat(
        this.xLabel,
        this.unitLatex('x', this.xUnit)
      )
    } else if (this.xLabel) {
      this.layout.xaxis['title'] = `$${this.xLabel}$`
    }
    this.setYAxisTitle()

    // Plot
    this.plot()
  }
}
</script>

<style scoped>
.chart {
  padding-top: 10px;
}
</style>
