<template>
  <div v-if="units.length > 1">
    <label>{{ axisName }} axis</label>
    <select :value="selectedUnit"
            @change="$emit('update:selectedUnit', $event.target.value)">
      <option v-for="unit in units" :value="unit.id">
        {{ unit.label }}
      </option>
    </select>
  </div>
</template>

<script>
export default {
  name: 'ChartAxisUnit',

  props: {
    axisName: String,
    units: Array,
    selectedUnit: String
  }
}
</script>

<style scoped>

</style>
