<template>
<div>
  <b-row>
    <div class="col">
      <p v-if="message">{{ message }}</p>

      <b-form-group v-else label="Saved results">
        <b-form-checkbox v-for="(dataset, index) in datasets"
                         v-model="to_delete"
                         :name="'checkbox' + index"
                         :value="dataset.url"
                         :key="dataset.url">
          <b-link @click="displayDataset(dataset)">
            {{ dataset.name }}
          </b-link>
        </b-form-checkbox>
      </b-form-group>

      <b-button size="sm" variant="primary" to="input">New calculation</b-button>
      <b-button size="sm"
                variant="danger"
                :disabled="to_delete.length === 0"
                @click="deleteDatasets">
        Delete selected
      </b-button>
    </div>
  </b-row>


  <b-row v-if="datasets.length">
    <datasets-chart v-for="chart in $store.state.charts.comparison_charts"
                    :traceConfig="chart.trace"
                    :datasets="datasets"
                    :xLabel="chart.xLabel"
                    :yLabel="chart.yLabel"></datasets-chart>
  </b-row>
</div>
</template>

<script>
import axios from 'axios'
import DatasetsChart from './DatasetsChart'

axios.defaults.xsrfCookieName = 'csrftoken'
axios.defaults.xsrfHeaderName = 'X-CSRFToken'

export default {
  name: 'Datasets',

  components: { DatasetsChart },

  data () {
    return {
      datasets: [],
      message: '',
      to_delete: []
    }
  },

  created () {
    axios.get('/api/' + this.$route.params.endpoint + '/')
      .then(response => {
        if (!response.data.length) {
          this.message = 'You have no saved results.'
        }
        response.data.forEach(dataset => {
          dataset.to_delete = false
          this.datasets.push(dataset)
        })
      })
      .catch(error => {
        this.message = {
          text: `Connection failed. Please check that the URL is correct
                 or use the menu to select a tool.`,
          type: 'danger'
        }
        console.log(error)
      })
  },

  methods: {
    deleteDatasets () {
      this.to_delete.forEach(url => {
        axios.delete(url)
          .then(response => {
            // Had to use Array.splice so Vue detects the change
            // check: https://vuejs.org/v2/guide/list.html#Array-Change-Detection
            for (let i = 0, l = this.datasets.length; i < l; i++) {
              if (this.datasets[i].url === url) {
                this.datasets.splice(i, 1)
              }
            }
          })
          .catch(error => {
            console.log(error)
          })
      })

      // If no more saved results redirect to Input view
      if (this.datasets.length === 0) {
        this.$router.push('input')
      }

      this.to_delete = []
    },

    displayDataset (dataset) {
      this.$store.commit('setDatasets', [dataset])
      this.$router.push('output')
    }
  }
}
</script>

<style scoped>

</style>
