<template>
<div class="col-xl-6">
  <div ref="chartcontainer" class="chart"></div>
</div>
</template>

<script>
import Plotly from 'plotly.js/dist/plotly.min'

export default {
  name: 'DatasetsChart',

  props: {
    traceConfig: Object,
    datasets: Array,
    xLabel: String,
    yLabel: String
  },

  data () {
    return {
      layout: {
        autosize: true,
        margin: {t: 30, l: 60, r: 0, b: 60},
        showlegend: true,
        xaxis: {},
        yaxis: {}
      }
    }
  },

  computed: {
    xField () {
      return this.getField(this.traceConfig.x)
    },

    yField () {
      return this.getField(this.traceConfig.y)
    },

    xUnit () {
      return this.xField.selected_unit
    },

    yUnit () {
      return this.yField.selected_unit
    }
  },

  methods: {
    getField (field) {
      if (typeof field === 'string') {
        return this.$store.state.fields.fields[field]
      }
      return { selected_unit: 'ND' }
    },

    plot () {
      if (this.xLabel) {
        this.layout.xaxis['title'] = this.xLabel
      } else if (typeof this.traceConfig.x === 'string') {
        this.layout.xaxis['title'] = this.xField.symbolAndUnit()
      }

      if (this.yLabel) {
        this.layout.yaxis['title'] = this.yLabel
      } else {
        this.layout.yaxis['title'] = this.yField.symbolAndUnit()
      }

      let traces = []
      this.datasets.forEach(dataset => {
        let x
        if (typeof this.traceConfig.x === 'string') {
          x = this.xField.convertToSelected(dataset[this.traceConfig.x])
        } else {
          x = this.traceConfig.x
        }
        traces.push({
          x: x,
          y: this.yField.convertToSelected(dataset[this.traceConfig.y]),
          name: dataset.name,
          type: this.traceConfig.type
        })
      })

      Plotly.react(this.$refs.chartcontainer, traces, this.layout)
    }
  },

  watch: {
    datasets () {
      this.plot()
    },

    xUnit () {
      this.plot()
    },

    yUnit () {
      this.plot()
    }
  },

  mounted () {
    this.plot()
  }
}
</script>

<style scoped>
.chart {
  width: 100%;
}
</style>
