<template>
  <div>
    <b-btn v-b-modal.modal1>Show description</b-btn>

    <!-- Modal Component -->
    <b-modal id="modal1"
             size="lg"
             :title="title"
             v-model="show"
             class="description">
      <div v-html="content"></div>
      <div slot="modal-footer">
        <b-btn variant="primary" class="float-right" @click="show=false">Close</b-btn>
      </div>
    </b-modal>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  props: {
    title: String,
    url: String
  },

  data () {
    return {
      show: false,
      content: 'Loading...'
    }
  },

  created () {
    const vm = this

    axios.get(vm.url)
      .then(function (response) {
        vm.content = response.data
      })
      .catch(function (error) {
        vm.content = 'There is no description available for this tool.'
        console.log(error)
      })
  }
}
</script>

<style>
.description a {
  color: white;
}
/********** TABLES **********/
table {
  border-collapse: collapse;
  width: 100%;
}
table + table {
  margin-top: 1em;
}
thead {
  background: #EEE;
  text-align: left;
}
th, td {
  border: 1px solid #EEE;
  padding: 5px 10px;
}

/********** IMAGES **********/
figure {
  text-align: center;
}
img {
  max-width: 100%;
}
figcaption {
  font-size: 0.8em;
  font-style: italic;
}
</style>
