<template>
  <div>
    <b-button :to="{name: 'tool-selection'}">&larr; Go back to tool list</b-button>

    <hr>

    <h2>{{ toolOption.title }}</h2>

    <h3 v-if="toolOption.option_title">{{ toolOption.option_title }}</h3>

    <b-row>
      <description :url="'/api/' + $route.params.endpoint + '/model_description/'"
                   :title="toolOption.title"></description>
    </b-row>

    <b-row>
      <b-col>
        <b-button class="button" variant="primary" :href="download_link" download>Download tool</b-button>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import axios from 'axios'
import Description from './Description'

axios.defaults.xsrfCookieName = 'csrftoken'
axios.defaults.xsrfHeaderName = 'X-CSRFToken'

export default {
  name: 'DownloadableTool',

  components: {Description},

  data () {
    return {
      download_link: '#'
    }
  },

  created () {
    this.download_link = '/api/' + this.$route.params.endpoint
  },

  computed: {
    toolOption () {
      return this.$store.getters.toolOption(this.$route.params.endpoint)
    }
  }
}
</script>

<style scoped>

</style>
