<template>
  <b-row class="no-gutters" v-show="show">
    <label class="col-8">{{ field.help_text}} ({{ field.label }})</label>
    <div class="col">
      <select @change="changeUnit($event)">
        <option v-for="unit in field.units"
                :value="unit.id"
                :selected="field.selected_unit === unit.id">
          {{ unit.label }}
        </option>
      </select>
    </div>
  </b-row>
</template>

<script>
import { Field, InputField } from '@/utils/field'

export default {
  name: 'FieldUnitSelect',

  props: {
    field: [Field, InputField],
    name: String
  },

  computed: {
    show () {
      let route = this.$route.name
      return (
        (
          route === 'integrated' &&
          this.field.input
        ) || (
          route === 'saved_results' &&
          this.$store.getters.comparisonFields.indexOf(this.name) !== -1
        ) || (
          route === 'output' &&
          this.field.hidden !== true
        )
      )
    }
  },

  methods: {
    changeUnit (event) {
      this.field.changeUnit(event.target.value)
    }
  }
}
</script>

<style scoped>
select {
  width: 100%;
}
</style>
