<template>
  <b-navbar toggleable="lg" class="dark navbar-expand-sm">
    <b-navbar-brand href="#">
      <b-img :src="require('../../static/logoFC.png')" fluid alt="Logo FCH2" class="m-2"></b-img>
    </b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav class="ml-auto onMobile-hide">
        <b-img :src="require('../../static/elab.png')" alt="Logo e-Laboratory" class="m-2"></b-img>
      </b-navbar-nav>

      <b-navbar-nav class="ml-auto">
        <b-nav-form right>
          <b-dropdown id="dropdown-right" right text="Login" class="m-2 onMobile-hide" disabled>
            <b-form class="p-2">
              <b-form-group>
                <b-form-input type="text" placeholder="Username" required/>
              </b-form-group>
              <b-form-group>
                <b-form-input type="password" placeholder="Password" required/>
              </b-form-group>
              <div class="text-center">
                <b-button type="submit" class>Login</b-button>
              </div>
            </b-form>
          </b-dropdown>
          <b-form class="p-2 onDesktop-hide mx-auto">
            <b-form-group>
              <b-form-input type="text" placeholder="Username" required/>
            </b-form-group>
            <b-form-group>
              <b-form-input type="password" placeholder="Password" required/>
            </b-form-group>
            <div class="text-center">
              <b-button type="submit" class>Login</b-button>
            </div>
          </b-form>
        </b-nav-form>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
export default {
  name: 'Navbar'
}
</script>

<style></style>

