<template>
  <b-form-group :label="field.label">
    <b-form-radio-group v-model="field.value"
                        :options="options"
                        :required="field.required"></b-form-radio-group>
  </b-form-group>
</template>

<script>
import { InputField } from '@/utils/field'
export default {
  props: {
    field: InputField
  },

  data () {
    return {
      options: [
        {text: 'Yes', value: true},
        {text: 'No', value: false}
      ]
    }
  }
}
</script>

<style scoped>

</style>
