<template>
  <div class="col-xl">
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Symbol</th>
          <th>Value</th>
          <th>Unit</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(field, name) in fields" :key="name"
            v-if="['integer', 'float', 'list'].indexOf(field.type) !== -1 && field.hidden !== true"
            is="output-field"
            :field="field"
            :name="name"
            :value="dataset[name]"></tr>
      </tbody>
    </table>

    <b-alert :show="message !== ''"
             class="row">{{ message }}</b-alert>
  </div>
</template>

<script>
import OutputField from './OutputField'

export default {
  components: { OutputField },

  computed: {
    dataset () {
      return this.$store.state.fields.datasets[0]
    },

    fields () {
      return this.$store.state.fields.fields
    },

    message () {
      if (this.fields.message && this.fields.message.value) {
        return this.fields.message.value
      }
      return ''
    }
  }
}
</script>

<style scoped>
table {
  margin: 0;
  min-width: 600px;
  max-width: 1000px;
}
</style>
