<template>
  <tr :class="{ 'input-field': field.input }">
    <td>{{ field.label }}</td>
    <td>{{ field.help_text }}</td>
    <td v-if="field.isList" class="values-list-cell">
      <b-link href="#" :id="'popover-' + name">view</b-link>
      <b-popover :target="'popover-' + name"
                 :placement="'right'"
                 triggers="hover focus"
                 :title="field.fullLabel()">
        <b-table :items="valuesList" small></b-table>
      </b-popover>
    </td>
    <td v-else v-html="displayValue"></td>
    <td v-html="field.unitLabel()"></td>

  </tr>
</template>

<script>
import math from 'mathjs'

import { Field, InputField } from '@/utils/field'

export default {
  props: {
    field: [Field, InputField],
    name: String,
    value: [Number, Array]
  },

  computed: {
    convertedValue () {
      // Get field value converted to requested unit
      return this.field.convertToSelected(this.value)
    },

    displayValue () {
      if (this.field.unit === '%') {
        return (this.value * 100) + ' %'
      }
      // Format the value (precision)
      return math.format(this.convertedValue, 6)
    },

    valuesList () {
      return this.convertedValue.map((value, i) => (
        { step: i, value: math.format(value, 6) }
      ))
    }
  }
}
</script>

<style>
.popover {
  max-height: 300px;
  overflow-y: scroll;
}
.input-field {
  background-color: lightgray;
}
</style>
