<template>
  <div>
    <div class="sidebar_modules">
      <b-form-group>
        <b>SORT BY CATEGORY</b>
        <b-form-checkbox v-model="allSelected"
                         :indeterminate="indeterminate"
                         @change="toggleAll">Select All</b-form-checkbox>

        <b-form-checkbox-group v-model="selectedSections"
                               v-for="section in $store.state.tools.sections"
                               :key="section" class="ml-2">
          <b-form-checkbox :value="section">
            {{ section.toLowerCase() }}
          </b-form-checkbox>
        </b-form-checkbox-group>
      </b-form-group>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

axios.defaults.xsrfCookieName = 'csrftoken'
axios.defaults.xsrfHeaderName = 'X-CSRFToken'

export default {
  name: 'Sidebar',

  data () {
    return {
      message: 'Requesting API...',
      allSelected: false,
      indeterminate: false,
      selectedSections: []
    }
  },

  watch: {
    immediate: true,
    selectedSections (newVal, oldVal) {
      if (this.selectedSections.length >= 0) {
        this.$store.commit('filterTools', this.selectedSections)
      }
      if (newVal.length === 0) {
        this.indeterminate = false
        this.allSelected = false
      } else if (newVal.length === this.$store.state.tools.sections.length) {
        this.indeterminate = false
        this.allSelected = true
      } else {
        this.indeterminate = true
        this.allSelected = false
      }
    }
  },

  methods: {
    toggleAll (checked) {
      this.selectedSections = checked ? this.$store.state.tools.sections.slice() : []
    }
  }
}
</script>

<style scoped>
.sidebar_modules {
  margin: 0px 0px 15px 15px;
}
</style>
