<template>
  <b-form-group :label="field.label">
    <b-input-group :prepend="field.help_text" :append="field.unitLabel()" :size="'sm'">
      <b-form-input :value="value" @input="setValue"
                    :type="inputType"
                    :required="field.required"
                    step="any"
                    :max="max"
                    :min="min"
                    :aria-describedby="fieldName + 'VectorTip ' + fieldName + 'InvalidFeedback'"></b-form-input>
    </b-input-group>
    <b-form-text v-if="field.size" :id="fieldName + 'VectorTip'">
      List of {{ field.size }} values, separated by ','
    </b-form-text>
  </b-form-group>
</template>

<script>
import Vue from 'vue'
import { InputField } from '@/utils/field'

export default {
  props: {
    fieldName: String,
    field: InputField
  },

  data () {
    return {
      // Allows to detect if an input event has been triggered by a change of unit
      // and, if so, avoid changing the field value
      unitChanged: false,
      value: null
    }
  },

  created () {
    this.formatValue()
  },

  computed: {
    inputType () {
      // If the field is a string or an array use a 'text' input
      if (this.field.type === 'string' || this.field.size) {
        return 'text'
      }
      // Else use a 'number' input
      return 'number'
    },

    max () {
      return this.field.converted.max_value
    },

    min () {
      return this.field.converted.min_value
    },

    selectedUnit () {
      return this.field.selected_unit
    }
  },

  methods: {
    formatValue () {
      let value = this.field.converted.value

      if (value !== 0 && !value) {
        this.value = ''
      } else if (this.field.size) {
        // If the field is a vector, turn the array of values
        // to a string with values separated by ', '
        this.value = value.join(', ')
      } else if (value.length) {
        // If the value is an array but the input field is a single number,
        // return the first item of the array
        this.value = value[0]
      } else {
        this.value = value
      }
    },

    setValue (value) {
      this.value = value
      // Check that input event wasn't triggered by change of unit
      if (this.unitChanged) {
        return
      }

      let parsedValue
      if (value === '') {
        parsedValue = null
      } else if (this.field.size) {
        // Turn vector of values separated by ',' to an array
        parsedValue = value.split(',')
        // If last keystroke of the user is a ',',
        // remove the last item, which is an empty string
        if (parsedValue[parsedValue.length - 1] === '') {
          parsedValue.pop()
        }
        parsedValue = parsedValue.map(x => parseFloat(x))
      } else if (this.field.isList) {
        parsedValue = [parseFloat(value)]
      } else {
        parsedValue = parseFloat(value)
      }
      this.field.converted.value = parsedValue
      this.field.setValueFromConverted(parsedValue)
    }
  },

  watch: {
    selectedUnit () {
      this.formatValue()
      // Set unitChanged to true until next DOM rendering
      this.unitChanged = true
      Vue.nextTick(() => {
        this.unitChanged = false
      })
    }
  }
}
</script>

<style>
</style>
