<template>
<div>
  <div v-if="Object.keys(filteredTools).length === 0" class="mt-3">
    <h1>Welcome to e-Laboratory</h1>
    <h2>Tools are sorted by categories, please select one or more categories to access their tools.</h2>
  </div>

  <div v-for="(tool, toolName) in filteredTools" :key="toolName" class="mt-2">
    <b-button v-b-toggle="'tool-' + toolName">{{ tool.title }}</b-button>
    <b-collapse :id="'tool-' + toolName" class="card">
      <b-card v-for="option in tool.options" :key="option.endpoint">
        <b-link :to="{ name: option.type, params: { endpoint: option.endpoint }}">
          {{ option.option_title || option.title }}
        </b-link>
      </b-card>
    </b-collapse>
  </div>

</div>
</template>

<script>
export default {
  name: 'ToolSelection',

  data () {
    return {
      tools: {},
      selectedTools: []
    }
  },

  computed: {
    options () {
      return this.$store.getters.toolOption
    },
    filteredTools () {
      return this.$store.state.tools.filteredTools
    }
  },

  watch: {
    immediate: true,
    selectedTools () {
      if (this.selectedTools.length >= 0) {
        this.$store.commit('filterTools', this.selectedTools)
      }
    }
  },

  created () {
    this.$store.commit('removeFields')
  }
}
</script>

<style scoped>
h1 {
  font-size: 1.75rem;
  font-weight: 600;
}
h2 {
  font-size: 1.25rem;
}
.title {
  text-transform: capitalize;
}
li {
  list-style-type: none;
}
.box-toolTitle {
  background-color: blue;
}
</style>
