<template>
  <div class="tool-menu-item">
    <slot></slot>
  </div>
</template>

<script>
  export default {
    name: 'ToolMenuItem'
  }
</script>

<style scoped>
.tool-menu-item {
  display: block;
  margin: 5px 0 5px 5px;
  padding: 5px;
}
.tool-menu-item a {
  color: #005cbf;
  width: 100%;
}
</style>
