<template>
  <div>
    <form @submit.prevent="submit" class="input-form">
      <fieldset>
        <option-form-field v-for="(field, fieldName) in fields"
                           v-if="field.input && field.type === 'boolean'"
                           :field="field"></option-form-field>
        <tool-form-field v-for="(field, fieldName) in fields"
                         v-if="field.input && field.type !== 'boolean'"
                         :key="fieldName"
                         ref="fields"
                         :fieldName="fieldName"
                         :field="field"></tool-form-field>
        <b-button type="submit" size="sm" variant="primary">Calculate</b-button>
        <b-button size="sm" variant="danger" @click="reset">Reset</b-button>
      </fieldset>
    </form>

    <b-row>
      <b-col>
        <div :class="'message-alert alert alert-' + message.type + ' col'" role="alert" v-if="message">
          {{ message.text }}
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import axios from 'axios'
import _ from 'lodash'
import OptionFormField from './OptionFormField'
import ToolFormField from './ToolFormField'

axios.defaults.xsrfCookieName = 'csrftoken'
axios.defaults.xsrfHeaderName = 'X-CSRFToken'

export default {
  components: {
    OptionFormField,
    ToolFormField
  },

  data () {
    return {
      charts: [],
      message: null,
      resetInputs: false,
      showChart: false
    }
  },

  computed: {
    fields () {
      return this.$store.state.fields.fields
    },

    resultSaved () {
      return Boolean(this.fields.created.value)
    }
  },

  methods: {
    reset () {
      this.$store.commit('resetFields')
      this.$refs.fields.forEach(field => field.formatValue())
    },

    submit () {
      const vm = this

      axios.post(
        '/api/' + vm.$route.params.endpoint + '/calculate/',
        vm.$store.getters.model
      )
        .then(function (response) {
          if (response.data.exception) {
            vm.message = {text: response.data.exception, type: 'warning'}
          } else {
            vm.$store.commit('setDatasets', [response.data])
            vm.$router.push('output')
          }
        })
        .catch(function (error) {
          vm.message = {text: '', type: 'danger'}
          if (error.response.status === 400) {
            _.forOwn(error.response.data, function (message, code) {
              if (code === 'non_field_errors') {
                vm.message.text += _.join(message, '\n') + '\n'
              } else {
                vm.message.text += code + ': ' + message[0]
              }
            })
          } else {
            vm.message.text = 'Calculation failed! Please provide different inputs.'
          }
        })
    }
  }
}
</script>

<style scoped>
  form.input-form {
    margin: 10px 0;
    max-width: 300px;
  }
</style>
