<template>
  <div class="row">
    <div class="col-12 col-md-4 col-lg-3 tool-menu">
      <h4>Navigation</h4>
      <tool-menu-item>
        <router-link :to="{ name: 'tool-selection' }">
          Tool list
        </router-link>
      </tool-menu-item>


      <tool-menu-item>
        <router-link to="saved_results">Saved results</router-link>
      </tool-menu-item>

      <tool-menu-item v-if="$route.name !== 'integrated'">
        <router-link to="input">
          New calculation
        </router-link>
      </tool-menu-item>

      <h4>Actions</h4>
      <tool-menu-item>
        <description :url="'/api/' + $route.params.endpoint + '/model_description/'"
                     :title="toolOption.title"></description>
      </tool-menu-item>

      <h4>Units</h4>
      <tool-menu-item><units-form></units-form></tool-menu-item>
    </div>

    <div class="col-12 col-md-8 col-lg-9">
      <h1>{{ toolOption.title }}</h1>

      <h2 v-if="toolOption.option_title">&raquo; {{ toolOption.option_title }}</h2>

      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import MathJax from 'MathJax'
import UnitsForm from './UnitsForm'
import Description from './Description'
import ToolMenuItem from './ToolMenuItem'

axios.defaults.xsrfCookieName = 'csrftoken'
axios.defaults.xsrfHeaderName = 'X-CSRFToken'

export default {
  components: {
    UnitsForm,
    Description,
    ToolMenuItem
  },

  data () {
    return {
      showDescription: false,
      toolOption: {
        title: 'Loading'
      }
    }
  },

  computed: {
    fields () {
      return this.$store.state.fields.fields
    }
  },

  beforeRouteUpdate (to, from, next) {
    if (to.params.endpoint !== from.params.endpoint) {
      this.updateTool(to.params.endpoint)
    }
    next()
  },

  created () {
    this.updateTool(this.$route.params.endpoint)
  },

  updated () {
    // Regenerate math formulas
    MathJax.Hub.Queue(['Typeset', MathJax.Hub])
  },

  methods: {
    updateTool (endpoint) {
      const vm = this

      axios.options('/api/' + endpoint + '/')
        .then(function (response) {
          vm.$store.commit('addFields', response.data.actions.POST)
          vm.$store.commit('setCharts', response.data)
          vm.toolOption = vm.$store.getters.toolOption(endpoint)
        })
        .catch(function (error) {
          vm.message = {
            text: `Connection failed. Please check that the URL is correct
                   or use the menu to select a tool.`,
            type: 'danger'
          }
          console.log(error)
        })
    }
  }
}
</script>

<style scoped>
h1 {
  font-weight: 600;
  font-size: 2rem;
}
h2 {
  font-size: 1.75rem;
}
hr {
  margin-top: 1.8rem;
}
.tool-menu {
  background-color: rgba(160, 174, 180, 0.2);
}
</style>
