<template>
  <div>
    <div class="row results-row">
      <output-table></output-table>
    </div>

    <div class="row" v-if="showCharts">
      <chart v-for="(chart, index) in $store.state.charts.charts"
             :num="'' + index"
             :traces="chart.traces"
             :x-label="chart.x_label"
             :y-label="chart.y_label"
             :x-unit-init="chart.x_unit"
             :y-unit-init="chart.y_unit"
             :x-alternative-units="chart.x_alternative_units"
             :y-alternative-units="chart.y_alternative_units"></chart>
    </div>

    <div class="row justify-content-start">
      <div class="col-sm-auto">
        <b-button v-if="$store.state.charts.charts.length > 0"
                  size="sm"
                  variant="primary"
                  @click="showCharts = !showCharts">Plot</b-button>

        <b-button size="sm" variant="primary" @click="toCSV">Export to CSV</b-button>
        <b-button size="sm" variant="danger" @click="changeInputs">Change inputs</b-button>
        <a class="invisible" ref="csvLink">CSV</a>
      </div>

      <div class="col-sm">
        <form @submit.prevent="save" class="form-inline">
          <label class="sr-only" for="datasetName">Dataset name</label>
          <b-input id="datasetName" class="mb-2 mr-sm-2 mb-sm-0"
                   v-model="datasetName"
                   type="text"
                   placeholder="Dataset name"
                   :size="'sm'"
                   :disabled="resultSaved"
                   required />
          <b-button type="submit" size="sm" variant="primary" :disabled="resultSaved">Save</b-button>
        </form>
      </div>
    </div>

    <b-row>
      <b-col>
        <div :class="'message-alert alert alert-' + message.type + ' col'" role="alert" v-if="message">
          {{ message.text }}
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
  import axios from 'axios'
  import _ from 'lodash'
  import OutputTable from './OutputTable'
  import ToolFormField from './ToolFormField'
  import Chart from './Chart'

  axios.defaults.xsrfCookieName = 'csrftoken'
  axios.defaults.xsrfHeaderName = 'X-CSRFToken'

  export default {
    components: {
      OutputTable,
      ToolFormField,
      Chart
    },

    data () {
      return {
        message: null,
        showCharts: false
      }
    },

    computed: {
      dataset () {
        return this.$store.state.fields.datasets[0]
      },

      fields () {
        return this.$store.state.fields.fields
      },

      datasetName: {
        get () {
          return this.dataset.name
        },

        set (value) {
          this.$store.commit('setDatasetName', value)
        }
      },

      resultSaved () {
        return Boolean(this.dataset.created)
      }
    },

    beforeCreate () {
      if (this.$store.getters.calculationProcessed === false) {
        this.$router.push('input')
      }
    },

    methods: {
      changeInputs () {
        this.$store.commit('changeInputs')
        this.$router.push('input')
      },

      toCSV () {
        const vm = this
        let csv = 'data:text/csv;charset=utf-8,'
        let i = -1
        let newRow = true

        while (newRow) {
          newRow = false
          let row = ''
          _.forOwn(vm.fields, function (field, name) {
            if (field.type === 'boolean') {
              return
            }

            // Selected unit to convert to
            let toUnit = field.selected_unit
            if (i === -1) {
              // Headers
              row += field.label
              if (toUnit && toUnit !== 'ND') {
                row += ' (' + field.unitLabel() + ')'
              }
              row += ','
              newRow = true
            } else {
              // Data
              let value
              if (field.isList && i < vm.dataset[name].length) {
                value = vm.dataset[name][i]
                newRow = true
              } else if (!field.isList && i === 0) {
                value = vm.dataset[name]
                newRow = true
              }
              if (value != null) {
                row += field.convertToSelected(value)
              }
              row += ','
            }
          })
          if (newRow) {
            csv += row + '\r\n'
          }
          i++
        }

        vm.$refs.csvLink.href = encodeURI(csv)
        vm.$refs.csvLink['download'] = 'eLab-' +
          vm.$route.params.endpoint.replace('/', '_') +
          '-' + new Date().toISOString() +
          '.csv'
        vm.$refs.csvLink.click()
      },

      save () {
        const vm = this
        axios.post(
          '/api/' + vm.$route.params.endpoint + '/',
          vm.$store.state.fields.datasets[0]
        )
          .then(function (response) {
            vm.message = {text: 'Results have been saved!', type: 'success'}
            vm.$store.commit('setDatasets', [response.data])
          })
          .catch(function (error) {
            let messages = ''
            _.forOwn(error.response.data, function (errors, name) {
              messages += name + ': ' + errors
            })
            vm.message = {text: messages, type: 'danger'}
            console.log(error.response.data)
          })
      }
    }
  }
</script>

<style scoped>
</style>
