<template>
  <ul>
    <li is="field-unit-select"
        v-for="(field, name) in $store.state.fields.fields"
        v-if="field.units && field.units.length > 1"
        :key="name"
        :name="name"
        :field="field"></li>
  </ul>
</template>

<script>
import FieldUnitSelect from '@/components/FieldUnitSelect'

export default {
  name: 'UnitsForm',

  components: {
    FieldUnitSelect
  }
}
</script>

<style scoped>
ul {
  font-size: 0.8em;
  list-style: none;
  padding: 0;
}
</style>
