<p>Carnot efficiency describes the maximum thermal efficiency that a heat engine can achieve as permitted by the Second Law of Thermodynamics. The law was derived by Sadi Carnot in 1824. Carnot pondered the idea of maximum efficiency in a heat engine questioning whether or not the efficiency of a heat engine can approach 100%, or is there an upper limit that cannot be exceeded? [2] The answer turned out to be that there is a maximum value, and Carnot developed an ideal engine that would theoretically give this efficiency, known as the Carnot engine. The maximum efficiency, known as the Carnot efficiency , is dependent only on the temperatures of the hot source and the cold sink is given by the equation below[3]</p>
<p>The Second Law requires that waste heat be produced in a thermodynamic process where work is done by a heat source. Such a process is given by the equation </p>
<p>With a thermal efficiency of</p>
<p>Where:</p>
<p>is the heat supplied to the system from a fuel</p>
<p>is the heat given off by the system to the cold sink known as waste heat</p>
<p>is the useful work achieved by the system</p>
<p>Therefore the Carnot efficiency gives a maximum attainable amount of work from any heat engine. It can be seen from Equation 1 that by either raising or lowering the efficiency can be increased. Ideally one would therefore want to make the cold sink temperature equal to absolute zero, but this is known to be an impossible feat. In reality, the cold sink is the Earth's environment. This means that the cold sink is at a temperature of around 310 Kelvin, and the hot sources we can achieve in heat engines from burning fuels burn at a temperature of approximately 650 Kelvin. These temperatures give a Carnot efficiency value of .[4]</p>
<p>Herein one can see the influence of the temperature difference between the hot and cold sources on the Carnot efficiency</P>
