<template>
  <div id="app">
    <navbar></navbar>

    <b-container fluid>
      <b-row>
        <b-col xs="12" md="4"
               class="sidebar"
               v-if="$route.name === 'tool-selection'">
          <b-dropdown class="onDesktop-hide edit-btn-dropdown" text="Sub-menu">
            <sidebar/>
          </b-dropdown>
          <sidebar class="onMobile-hide"/>
        </b-col>

        <b-col>
          <router-view></router-view>
        </b-col>
      </b-row>
    </b-container>

    <div class="footer onDesktop-hide">
      <b-img :src="require('../static/elab.png')" fluid alt="Logo e-Laboratory" class="m-2"></b-img>
    </div>
  </div>
</template>

<script>
import Sidebar from '@/components/Sidebar'
import Navbar from '@/components/Navbar'

import axios from 'axios'

axios.defaults.xsrfCookieName = 'csrftoken'
axios.defaults.xsrfHeaderName = 'X-CSRFToken'

export default {
  name: 'app',

  components: {
    Sidebar,
    Navbar
  },

  data () {
    return {
      message: ''
    }
  },

  created () {
    const vm = this

    axios.get('/api/tools/')
      .then(response => {
        vm.$store.commit('setTools', response.data)
        vm.message = ''
      })
      .catch(error => {
        vm.message = 'API not reachable, please check your connection and try again.'
        console.log(error)
      })
  }
}
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

html,
body,
#app {
  height: 100%;
  font-family: "Muli", sans-serif;
}
#app {
  color: #201e1e;
}

.message-alert {
  max-width: 500px;
}
.dark {
  background-color: #201e1e;
  color: white;
}
.form-control:focus {
  border-color: #00a3df;
}
.btn-secondary {
  color: #fff;
  background-color: #00a3df;
  border-color: rgba(0, 162, 223, 0);
}
.btn-secondary:hover {
  color: #fff;
  background-color: rgba(0, 162, 223, 0.5);
  border-color: rgba(0, 162, 223, 0);
}
.sidebar {
  background-color: rgba(160, 174, 180, 0.2);
}
.form-group {
  padding: 5px 0px 5px 0px;
}
.img-fluid {
  max-width: 60% !important;
}
@media screen and (min-width: 576px){
  .onDesktop-hide {
    display: none;
  }
}
@media screen and (max-width: 575px){
  .onMobile-hide {
    display: none;
  }
  .edit-btn-dropdown {
    width:100%;
    border-radius:0px;
  }
}
#__BVID__19__BV_toggle_ {
  border-radius: 0px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #201e1e;
  text-align: center;
}
</style>
